/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
package-lock.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.json
/public/news/*
/public/category/*
/public/channel/*
/public/league/*
/public/match_tournament/*
/public/serverType/*
/public/source/*
/public/tournament/*
/public/user/*
/public/video/*
/public/js/main.js